<mat-toolbar color="primary">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button [routerLink]="['/']" mat-menu-item>
      <mat-icon>search</mat-icon>
      <span>Products</span>
    </button>
    <button [routerLink]="['./cart']"mat-menu-item>
      <mat-icon>checkout</mat-icon>
      <span >Checkout</span>
    </button>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <span>My Store</span>
  <span class="example-spacer"></span>

  <button mat-raised-button [routerLink]="['cart']">
    <mat-icon>shopping_cart_checkout</mat-icon> Checkout
  </button>
</mat-toolbar>
